<!DOCTYPE html>
<html>

<head>
    <title>Home | Bid Spirit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="icon" href="images/Logo2.png" type="image/gif" sizes="64x64" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
</head>

<body ng-app="MyApp">
    <div ng-controller="MyController" class="container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light border-bottom fixed-top bg-white">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/Logo.png" alt="" width="48" height="48" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span>
                            <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/bwhjesak.json" trigger="morph"
                                style="width: 32px; height: 32px">
                            </lord-icon>
                        </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav m-auto mb-2 mb-lg-0">
                            <li>
                                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li>
                                <a class="nav-link" href="html/products.html" >Products</a>
                            </li>
                            <li>
                                <a class="nav-link" href="html/about.html" >About</a>
                            </li>
                            <li>
                                <a class="nav-link" href="html/contact.html" >Contact</a>
                            </li>
                            <li>
                                <a class="nav-link" href="html/gallery.html" >Gallery</a>
                            </li>
                            <!-- <li>
                                <a class="nav-link" href="html/sitemap.html" >Site Map</a>
                            </li> -->
                        </ul>
                        <ul class="nav-left navbar-nav ms-2 mb-2 mb-lg-0" id="sign">
                            <li>
                                <a href="html/form.html" class="nav-link" >Sign In</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <!-- BEGIN CAROUSEL -->
            <div id="home">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="margin-top: 5rem">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/carousel1.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption">
                                <h5>What We Do</h5>
                                <p class="line-clamp mt-3 mb-4">
                                    For bidders, we provide access to a curated selection of millions of unique and specialised secondary
                  items in a trusted, simple, sustainable and convenient way.
                                </p>
                                <p>
                                    <a href="html/about.html" class="btn btn-warning mt3" >Learn More <i
                                            class="fa-solid fa-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/carousel2.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption">
                                <h5>Our Mission</h5>
                                <p class="line-clamp mt-3 mb-4">
                                    Our mission is to be the global auction marketplace provider connecting bidders, businesses,
                        collectors, contractors, dealers and consumers to an under-explored world of items curated by
                        thousands of trusted auctioneer experts.
                                </p>
                                <p>
                                    <a href="html/about.html" class="btn btn-warning mt3" >Learn More <i
                                            class="fa-solid fa-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="images/carousel3.jpg" class="d-block w-100" alt="img" />
                            <div class="carousel-caption">
                                <h5>Our Purpose</h5>
                                <p class="line-clamp mt-3 mb-4">
                                    We exist to unlock the value in the second, third and infinite reuse of the world’s items
                                </p>
                                <p>
                                    <a href="html/about.html" class="btn btn-warning mt3" >Learn More <i
                                            class="fa-solid fa-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- END CAROUSEL -->

            <!-- BEGIN PRODUCT -->
            <div id="product">
                <!--Popular Item-->
                <div class="row mt-4">
                    <p class="h2 text-center mt-4 horizon">
                        <span>Popular Items</span>
                    </p>
                    <div class="sortable-card col-lg-4 col-md-6 col-12" ng-repeat="item in popular">
                        <div class="card mt-5 m-3 hover-shadow">
                            <div class="view overlay">
                                <a href="html/detail.html?id={{item.id}}" ><img class="card-img-top"
                                        src="images/{{mySplit(item.image_urls , 0)}}" alt="Card image cap" width="200"
                                        height="250" /></a>
                            </div>
                            <div class="card-body bg-light text-center">
                                <a href="html/detail.html?id={{item.id}}"  style="color: black">
                                    <div class="clearfix" style="width: 100%; height: 3rem">
                                        <h5 class="card-title line-clamp" data-toggle="tooltip" data-placement="right"
                                            title="{{item.name}}">
                                            {{item.name}}
                                            <span class="tooltiptext">{{item.name}}</span>
                                        </h5>
                                    </div>
                                </a>
                                <p class="card-text mt-2 text-danger h1 fw-bold">
                                    ${{item.starting_price}}
                                </p>
                                <div class="clearfix">
                                    <span class="float-start" name="demo" style="line-height: 38px"
                                        id="demo{{item.id}}">{{time(item.id,
                                        item.end_date)}}</span>
                                    <a href="html/detail.html?id={{item.id}}" ><button type="button"
                                            class="btn btn-warning btn-md float-end">
                                            <i class="fa-sharp fa-solid fa-gavel"></i>
                                            Live Auction
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--End-->
                <!--Sponsored-->
                <div class="row mt-4">
                    <p class="h2 text-center mt-4 horizon">
                        <span>Sponsored Auctions</span>
                    </p>
                    <div class="sortable-card col-lg-4 col-md-6 col-12" ng-repeat="item in sponsored">
                        <div class="card mt-5 m-3 hover-shadow">
                            <div class="view overlay">
                                <a href="html/detail.html?id={{item.id}}" ><img class="card-img-top"
                                        src="images/{{mySplit(item.image_urls , 0)}}" alt="Card image cap" width="200"
                                        height="250" /></a>
                            </div>
                            <div class="card-body bg-light text-center">
                                <a href="html/detail.html?id={{item.id}}" style="color: black">
                                    <div class="clearfix" style="width: 100%; height: 3rem">
                                        <h5 class="card-title line-clamp" data-toggle="tooltip" data-placement="right"
                                            title="{{item.name}}">
                                            {{item.name}}
                                            <span class="tooltiptext">{{item.name}}</span>
                                        </h5>
                                    </div>
                                </a>
                                <p class="card-text mt-2 text-danger h1 fw-bold">
                                    $ {{item.starting_price}}
                                </p>
                                <div class="clearfix">
                                    <span class="float-start" name="demo" style="line-height: 38px"></span>
                                    <a href="html/detail.html?id={{item.id}}" ><button type="button"
                                            class="btn btn-warning btn-md float-end">
                                            <i class="fa-sharp fa-solid fa-gavel"></i>
                                            Live Auction
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->

                <!--Upcoming-->
                <div class="row mt-4">
                    <p class="h2 text-center mt-4 horizon">
                        <span>Upcoming Online Auctions</span>
                    </p>
                    <div class="sortable-card col-lg-4 col-md-6 col-12" ng-repeat="item in upcoming">
                        <div class="card mt-5 m-3 hover-shadow">
                            <div class="view overlay">
                                <a href="html/detail.html?id={{item.id}}" ><img class="card-img-top"
                                        src="images/{{mySplit(item.image_urls , 0)}}" alt="Card image cap" width="200"
                                        height="250" /></a>
                            </div>
                            <div class="card-body bg-light text-center">
                                <a href="html/detail.html?id={{item.id}}"  style="color: black">
                                    <div class="clearfix" style="width: 100%; height: 3rem">
                                        <h5 class="card-title line-clamp" data-toggle="tooltip" data-placement="right"
                                            title="{{item.name}}">
                                            {{item.name}}
                                            <span class="tooltiptext">{{item.name}}</span>
                                        </h5>
                                    </div>
                                </a>
                                <p class="card-text mt-2 text-danger h1 fw-bold">
                                    $ {{item.starting_price}}
                                </p>
                                <div class="clearfix">
                                    <span class="float-start" name="demo" style="line-height: 38px"></span>
                                    <a href="html/detail.html?id={{item.id}}"><button type="button"
                                            class="btn btn-warning btn-md float-end">
                                            <i class="fa-sharp fa-solid fa-gavel"></i>
                                            Live Auction
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->

                <!--Completed-->
                <div class="row mt-4">
                    <p class="h2 text-center mt-4 horizon">
                        <span>Completed Auctions</span>
                    </p>
                    <div class="sortable-card col-lg-4 col-md-6 col-12" ng-repeat="item in completed">
                        <div class="card mt-5 m-3 hover-shadow">
                            <div class="view overlay">
                                <a href="html/detail.html?id={{item.id}}" ><img class="card-img-top"
                                        src="images/{{mySplit(item.image_urls , 0)}}" alt="Card image cap" width="200"
                                        height="250" /></a>
                            </div>
                            <div class="card-body bg-light text-center">
                                <a href="html/detail.html?id={{item.id}}" style="color: black">
                                    <div class="clearfix" style="width: 100%; height: 3rem">
                                        <h5 class="card-title line-clamp" data-toggle="tooltip" data-placement="right"
                                            title="{{item.name}}">
                                            {{item.name}}
                                            <span class="tooltiptext">{{item.name}}</span>
                                        </h5>
                                    </div>
                                </a>
                                <p class="card-text mt-2 text-danger h1 fw-bold">
                                    $ {{item.starting_price}}
                                </p>
                                <div class="clearfix">
                                    <span class="float-start" name="demo" style="line-height: 38px"></span>
                                    <a href="html/detail.html?id={{item.id}}"><button type="button"
                                            class="btn btn-warning btn-md float-end">
                                            <i class="fa-sharp fa-solid fa-gavel"></i>
                                            Live Auction
                                        </button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
            </div>
            <!-- END PRODUCT -->
        </main>
        <footer class="text-center text-lg-start bg-light text-muted">
            <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>

                <div class="footer-icon">
                    <a href="https://www.facebook.com/Aptech-Hue-1549657725082378" class="me-4 text-reset"
                        >
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://twitter.com/aptechltd" class="me-4 text-reset" >
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="http://daotao.huecit.vn/%C4%90%C3%A0o-t%E1%BA%A1o/L%E1%BA%ADp-tr%C3%ACnh-vi%C3%AAn-qu%E1%BB%91c-t%E1%BA%BF/pid/5/cid/12?tid=Chuong-trinh-lap-trinh-vien-quoc-te-ASDE.html"
                        class="me-4 text-reset" >
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="https://www.instagram.com/aptechlearning_official/" class="me-4 text-reset"
                        >
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://in.linkedin.com/company/aptech" class="me-4 text-reset" >
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/aptech?language=e" class="me-4 text-reset" >
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </section>

            <section class="">
                <div class="footer-hover container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                <p style="
                                            color: #3b2314;
                                            user-select: none;
                                        ">
                                    <img src="images/Logo2.png" alt="" width="84" height="78" />
                                    Bid Spirit
                                </p>
                            </h6>
                            <p>
                                Here you can use rows and columns to
                                organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Products
                            </h6>
                            <p>
                                <a href="index.html" class="text-reset">Home</a>
                            </p>
                            <p>
                                <a href="html/products.html" class="text-reset" >Products</a>
                            </p>
                            <p>
                                <a href="html/about.html" class="text-reset" >About</a>
                            </p>
                            <p>
                                <a href="html/contact.html" class="text-reset" >Contact</a>
                            </p>
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Useful links
                            </h6>
                            <p>
                                <a href="html/gallery.html" class="text-reset" >Gallery</a>
                            </p>
                            <p>
                                <a href="html/sitemap.html" class="text-reset" >Site Map</a>
                            </p>
                            <p>
                                <a href="html/detail.html?id=1" class="text-reset" >Details</a>
                            </p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold mb-4">
                                Contact
                            </h6>
                            <div class="mb-3">
                                <a href="https://www.google.com/maps/place/Hu%E1%BA%BF+Aptech/@16.4590282,107.5791455,17z/data=!3m1!4b1!4m5!3m4!1s0x3141a149ef807aed:0x4eb6bafb31d4c653!8m2!3d16.4590188!4d107.581338?hl=vi-VN&shorturl=1"
                                    class="text-reset" ><i class="fas fa-home me-3"></i>77 Nguyen Hue, Hue, VietNam</a>
                            </div>
                            <div class="mb-3">
                                <a href="mail: info@example.com" class="text-reset" >
                                    <i class="fas fa-envelope me-3"></i>
                                    info@husc.vn
                                </a>
                            </div>
                            <div class="mb-3">
                                <a href="tel: 02343823650" class="text-reset" ><i
                                        class="fas fa-phone me-3"></i> 0234
                                    3907 777</a>
                            </div>
                            <div class="mb-3">
                                <a href="http://daotao.huecit.vn/%C4%90%C3%A0o-t%E1%BA%A1o/L%E1%BA%ADp-tr%C3%ACnh-vi%C3%AAn-qu%E1%BB%91c-t%E1%BA%BF/pid/5/cid/12?tid=Chuong-trinh-lap-trinh-vien-quoc-te-ASDE.html"
                                     class="text-reset"><i
                                        class="fa-solid fa-globe me-3"></i>www.husc.vn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
                © 2022 Copyright:
                <p>Vo Pham Khanh Truong</p>
            </div>
        </footer>
        <div>
            <button onclick="topFunction()" id="myBtn" title="Go to top" class="fade-in" style="display: none">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_2ylbszmp.json"
                    background="transparent" speed="1" style="width: 70px; height: 70px" loop autoplay></lottie-player>
            </button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
            integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"
            integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"
            integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"
            integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ=="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
            integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
            crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script>
            var myApp = angular.module("MyApp", []);
            myApp.controller("MyController", function ($scope) {
                $scope.data = items;
                $scope.popular = items.filter(
                    (checkItem) => checkItem.status == "popular"
                );
                $scope.sponsored = items.filter(
                    (checkItem) => checkItem.status == "sponsored"
                );
                $scope.upcoming = items.filter(
                    (checkItem) => checkItem.status == "upcoming"
                );
                $scope.completed = items.filter(
                    (checkItem) => checkItem.status == "completed"
                );
                $scope.mySplit = function (string, n) {
                    var array = string.split(", ");
                    return array[n];
                };
                $scope.time = function myFunction(id, end_date) {
                    var x = setInterval(
                        function (id) {
                            // Get today's date and time
                            var now = new Date().getTime();
                            var countDownDate = new Date(end_date).getTime();

                            // Find the distance between now and the count down date
                            var distance = countDownDate - now;
                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(
                                distance / (1000 * 60 * 60 * 24)
                            );
                            var hours = Math.floor(
                                (distance % (1000 * 60 * 60 * 24)) /
                                (1000 * 60 * 60)
                            );
                            var minutes = Math.floor(
                                (distance % (1000 * 60 * 60)) / (1000 * 60)
                            );
                            var seconds = Math.floor(
                                (distance % (1000 * 60)) / 1000
                            );

                            // Output the result in an element with id="demo"
                            var cd =
                                days +
                                "d " +
                                hours +
                                "h " +
                                minutes +
                                "m " +
                                seconds +
                                "s ";
                            document.getElementById("demo" + id).innerHTML = cd;
                            // If the count down is over, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("demo" + id).innerHTML =
                                    "EXPIRED";
                            }
                        },
                        1000,
                        id
                    );
                };
            });
            AOS.init();
            $(".counter").counterUp({
                delay: 10,
                time: 1000,
            });

            var url = window.location.search;
            var user = new URLSearchParams(url);
            var username = JSON.stringify(user.get("username"));
            if (username != "null" && username != "") {
                sessionStorage.setItem("username", JSON.parse(username));
            }

            function checkUser() {
                let username = JSON.stringify(
                    sessionStorage.getItem("username")
                );
                if (username != "null" && username != "") {
                    var sign = document.getElementById("sign");
                    var textHTML =
                        '<li class="me-2"><span style="display: inline-block;padding: 8px;">Hello, ' +
                        JSON.parse(username) +
                        '!</span></li><li><button class="nav-link sign-out" onclick="delSession()">Sign out</button></li>';
                    sign.innerHTML = textHTML;
                }
            }
            function delSession(){
                sessionStorage.removeItem('username');
                window.location='index.html';
            }
            checkUser();
            let mybutton = document.getElementById("myBtn");

            
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction();
            };

            function scrollFunction() {
                if (
                    document.body.scrollTop > 20 ||
                    document.documentElement.scrollTop > 20
                ) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
</body>

</html>